$column-gap--value: 3rem;

.wallet {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    column-gap: $column-gap--value;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: calc(80% - $column-gap--value) 20%;
    grid-template-areas: 
    "wallet__title wallet__title"
    "wallet__list cart-total";
}