.wallet {
    margin-top: 3rem;
    // background-color: rgba(128, 128, 128, 0.285);
    display: grid;
    column-gap: 4rem;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: calc(80% - 4rem) 20%;
    grid-template-areas: 
    "wallet__title wallet__title"
    "wallet__list cart-total";

    .wallet__title {
        grid-area: wallet__title;
    }

    .cart-total {
        grid-area: cart-total;
    }

    .wallet__list {
        grid-area: wallet__list;
        // border: 1px solid;
        .details__item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
            .detail__thumb {
                border: 1px solid;
                max-width: 18rem;
                padding: 10px;
                box-sizing: border-box;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}