.product__list {
    margin-top: 2rem;
    margin-bottom: 4rem;

    .product__title {
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .product__items {
        box-sizing: border-box;
        display: grid;
        gap: 8rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .item {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;

            .item__details {
                display: flex;
                flex-direction: column;
                border: 1px solid #c4c4c4a7;

                img {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                }

                .product__size {
                    border: none;
                    display: flex;
                    font-size: 1.8rem;
                    font-weight: 700;
                    justify-content: space-around;
                    padding: 0;
                    text-align: center;
                    width: 12rem;
                    align-self: flex-end;
                    padding-bottom: 1.2rem;

                    .size__input {
                        display: none;

                        &:checked+.size__label {
                            background-color: black;
                            @include border();
                            color: #FFFFFF;
                        }
                    }

                    .size__label {
                        background-color: #ffffffad;
                        border-radius: 30%;
                        border: solid .1rem;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: center;
                        height: 2.7rem;
                        margin: .7rem;
                        width: 1.5em;

                        &:hover {
                            background-color: #e6e6e6;
                            cursor: pointer;
                        }
                    }
                }
            }

            .item__description {
                margin: 1.6rem 0;
                display: grid;
                gap: .6rem;

                .item__product--description,
                .item__product--price {
                    font-size: 1.5rem;
                }

                .item__product--price {
                    font-weight: 700;
                }
            }

            .item__button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 4rem;
                background-color: #C4C4C4;
                position: relative;
                color: #000000;
                font-size: 1.3rem;

                .icon__purchase {
                    width: 20px;
                    padding-right: .5rem;
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}