:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

html, body, fieldset, figure, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  padding: 0;
  border: none;
  background-color: unset;
}

input {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

.header {
  align-items: center;
  display: flex;
  height: 12rem;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
  padding: 1rem 2rem 1rem 2rem;
}
.header .purchase__icon--header {
  color: #6a808f;
  font-size: 3rem;
}

.logo {
  text-align: end;
}

.logo__title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: #6a808f;
}

.logo__subtitle {
  font-size: 1rem;
  margin: 0;
  color: #6a808f;
}

.menu {
  width: 99%;
  height: 5rem;
  background-color: #6a808f;
  margin: 0 auto;
  display: flex;
  font-size: 1.6rem;
}

.menu__list {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu .menu__item {
  color: #FFFFFF;
}
.menu .menu__item a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
}

.search {
  display: flex;
  height: 3.5rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.search__input {
  border: 1px solid #C4C4C4;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  width: 92%;
}

.product {
  display: flex;
  margin-top: 6rem;
  margin-bottom: 4rem;
  width: 100%;
}
@media screen and (max-width: 1270px) {
  .product {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1110px) {
  .product .product__list {
    display: none;
  }
}

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

html, body, fieldset, figure, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  padding: 0;
  border: none;
  background-color: unset;
}

input {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.product__title {
  font-size: 2.5rem;
  padding-bottom: 1.3rem;
  color: #6a808f;
}

.product__description {
  font-size: 1.6rem;
  text-align: justify;
}

.product__image {
  border: 0.1rem solid #C4C4C4;
  width: 40%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
}
.product__image img {
  align-self: center;
  width: 100%;
}

.product__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.product__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 6rem;
}
@media screen and (max-width: 1110px) {
  .product__list {
    display: none;
  }
}

.product__item {
  max-width: 16rem;
  border: 0.1rem solid #C4C4C4;
}

.product__thumb {
  width: 100%;
  height: 100%;
}

.banner {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 16rem;
  background-color: #FFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  position: relative;
}

.banner__text {
  letter-spacing: 1rem;
  font-size: 1.9rem;
  color: #6a808f;
  font-weight: 700;
}

.banner__text::first-line {
  letter-spacing: 0;
}

.banner__title {
  bottom: 0;
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
  position: absolute;
  text-align: end;
  right: 0;
  color: #6a808f;
}

.banner__title span {
  font-size: 0.9rem;
}

.related-products {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.related-products__title {
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #6a808f;
}

.related-products__list {
  display: grid;
  gap: 8rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.related-products__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.item__details {
  display: flex;
  flex-direction: column;
  border: 1px solid #c4c4c4a7;
}
.item__details img {
  width: 100%;
  height: 100%;
}

.item__description {
  margin: 1.6rem 0;
  display: grid;
  gap: 0.6rem;
}
.item__description .item__title,
.item__description .item__price {
  font-size: 1.5rem;
}
.item__description .item__price {
  font-weight: 700;
}

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

html, body, fieldset, figure, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  padding: 0;
  border: none;
  background-color: unset;
}

input {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.product__size {
  border: none;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  padding: 0;
  width: 12rem;
  padding-bottom: 1.2rem;
}
.product__size .size__input {
  display: none;
}
.product__size .size__input:checked + .size__label {
  background-color: #6a808f;
  border: 1px solid;
  color: #FFEFEF;
}
.product__size .size__label {
  border: solid 0.1rem #6a808f;
  display: flex;
  justify-content: center;
  height: 2.7rem;
  margin: 0.7rem;
  width: 1.5em;
  color: #6a808f;
}
.product__size .size__label:hover {
  background-color: #FFEFEF;
  cursor: pointer;
}

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

html, body, fieldset, figure, p, h1, h2, h3, h4, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  padding: 0;
  border: none;
  background-color: unset;
}

input {
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.btn-display, .search__button, .product__button, .item__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__button {
  width: 100%;
  height: 4rem;
  font-size: 1.3rem;
  background-color: #6a808f;
  position: relative;
  color: #FFFFFF;
}

.product__button {
  width: 30%;
  height: 4rem;
  font-size: 1.3rem;
  background-color: #6a808f;
  position: relative;
  color: #FFFFFF;
}

.search__button {
  background-color: #6a808f;
  width: 8%;
}

.wallet__button {
  width: 100%;
  height: 6rem;
  font-size: 1.4rem;
  background-color: #6a808f;
  align-self: flex-end;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.newsletter__button {
  width: 30%;
  height: auto;
  font-size: 1.7rem;
  background-color: #6a808f;
  color: #FFFFFF;
}

.icon__purchase--header {
  color: #6a808f;
  font-size: 3rem;
}

.icon__purchase {
  font-size: 2rem;
  padding-right: 0.5rem;
  position: absolute;
  right: 0;
}

.whatsapp__icon, .phone__icon {
  font-size: 2.2rem;
}

.search__icon {
  font-size: 2rem;
  color: #FFFFFF;
}

.footer {
  border-top: 1px solid #C4C4C4;
  padding: 1rem 1rem 0 1rem;
  max-width: 1280px;
  margin: auto;
  height: 30rem;
  display: grid;
  row-gap: 2rem;
  grid-template-rows: 6rem 1fr;
  grid-template-columns: 1fr 1.5fr 1.3fr 2fr;
  grid-template-areas: "logo logo logo logo" "menu-itens social-media contact newsletter";
}
.footer .menu__title,
.footer .social-media__title,
.footer .contact__title,
.footer .newsletter__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.footer .menu__itens {
  grid-area: menu-itens;
}
.footer .menu__item,
.footer .contact__item {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.logo--justify {
  grid-area: logo;
  justify-self: flex-start;
}

.social-media {
  grid-area: social-media;
}
.social-media .social-media__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social-media .social-media__list .item {
  margin-right: 2rem;
}
.social-media .social-media__list .item img {
  width: 2.7rem;
}

.contact {
  grid-area: contact;
}
.contact .whatsapp__content,
.contact .phone__content {
  display: flex;
  align-items: center;
}
.contact .whatsapp__content a,
.contact .phone__content a {
  margin-right: 1rem;
}

.newsletter {
  grid-area: newsletter;
}
.newsletter .newsletter__sign {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.newsletter .newsletter__sign .newsletter__input {
  width: 70%;
  height: 3rem;
  margin-right: 1rem;
  border: 1px solid #C4C4C4;
  font-size: 1.5rem;
}

/*# sourceMappingURL=detalhes.css.map */
