body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif !important;
}

.header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* margin: 0 auto */
}

.title-main {
  display: flex;
  flex-direction: column;
}

.title-main .title {
  font-size: 1.7rem;
}

.title-main span {
  font-size: 0.5rem;
  align-self: flex-end;
}

.menu {
  width: 100%;
  height: 3rem;
  background-color: #C4C4C4;
  margin: 0 auto;
  display: flex;
}

.menu ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-main {
  width: 940px;
  margin: 0 auto;
}

.container-main .search {
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.container-main .search input {
  width: 100%;
  border: 1px solid #C4C4C4;
  margin-right: 0.3rem;
}

.search .btn-search {
  width: 80px;
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .image-search {
  width: 20px;
}

.last-releases {
  margin-top: 1rem;
}

.last-releases .last-releases--title {
  font-weight: 700;
}

.last-releases .last-releases--list {
  box-sizing: border-box;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item .description-item {
  margin-bottom: 10px;
  display: grid;
  gap: 6px;
}

.item .product {
  display: flex;
  flex-direction: column;
  border: 1px solid #C4C4C4;
  margin-bottom: 0.3rem;
}

.item .btn-shopping-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 2rem;
  background-color: #C4C4C4;
}

.btn-shopping-cart .icon-purchase {
  width: 20px;
  padding-right: 5px;
}

.product .product-size {
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}

.product-size ul {
  display: flex;
  flex-direction: row;
}

.product-size ul li {
  padding-right: 6px;
}

.select-size {
  border: 1px solid #000000;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-size p {
  font-size: 0.9rem;
}

.product img {
  width: 200px;
  margin: 0 auto;
  padding-top: 20px;
}

.banner {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 7rem;
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .text {
  width: 60%;
  margin: 0 auto;
}

.banner-title {
  display: flex;
  flex-direction: column;
}

.banner-title .title {
  font-size: 1.7rem;
}

.banner-title span {
  font-size: 0.5rem;
  align-self: flex-end;
}

.blog-intro {
  width: 100%;
  height: 20rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: grid;
  column-gap: 2.5rem;
  row-gap: 1.5rem;
  grid-template-rows: 2rem 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "blog-title blog-title"
    "article-big article-small-top"
    "article-big article-small-bottom";
}

.blog-title {
  grid-area: blog-title;
  font-weight: 700;
}

.article-big {
  width: 100%;
  grid-area: article-big;
}

.article-big .image {
  width: 100%;
  height: 12rem;
  background-color: #C4C4C4;
}

.display {
  display: flex;
  flex-direction: row;
}

.article-small-top {
  grid-area: article-small-top;
}

.article-small-top .image, .article-small-bottom .image {
  background-color: #C4C4C4;
}

.article-small-top .description, .article-small-top .image,
.article-small-bottom .description, .article-small-bottom .image {
  width: 50%;
}

.article-small-bottom {
  grid-area: article-small-bottom;
}

.article-small-bottom .image, .article-small-top .image {
  margin-right: 10px;
}

/* footer */
.info-contact {
  width: 100%;
  height: 15rem;
  background-color: #C4C4C4;
  display: grid;
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "footer-title . . ."
  "menu-itens social-media contact newsletter";
}

.footer-title {
  grid-area: footer-title;
}

.menu-itens {
  grid-area: menu-itens;
}

.social-media {
  grid-area: social-media;
}

.social-media--list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.social-media--list li {
  padding-right: 8px;
}

.social-media--list .item img {
  width: 1.4rem;
}

.contact {
  grid-area: contact;
}

.newsletter {
  grid-area: newsletter;
}