.footer {
    border-top: 1px solid #C4C4C4;
    padding: 1rem 1rem 0 1rem;
    max-width: 1280px;
    margin: auto;
    height: 30rem;
    display: grid;
    row-gap: 2rem;
    grid-template-rows: 6rem 1fr;
    grid-template-columns: 1fr 1.5fr 1.3fr 2fr;
    grid-template-areas:
        "logo logo logo logo"
        "menu-itens social-media contact newsletter";

    .menu__title,
    .social-media__title,
    .contact__title,
    .newsletter__title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .menu__itens {
        grid-area: menu-itens;
    }

    .menu__item,
    .contact__item {
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }

    @media screen and (max-width: 1110px) {
        height: auto;
        margin-bottom: 8rem;
        row-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "menu-itens"
            "social-media"
            "contact"
            "newsletter";
    }
}