@import '../../abstract/variables';

.banner__title {
    bottom: 0;
    margin-right: .7rem;
    margin-bottom: .7rem;
    position: absolute;
    text-align: end;
    right: 0;
    color: $tertiary-color;
}

.banner__title span {
    font-size: 0.9rem;
}