@import '../abstract/base';
//criar um mixin para botões

.btn-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin properties ($width, $heigth, $font-size, $background) {
    width: $width;
    height: $heigth;
    font-size: $font-size;
    background-color: $background;
}

.item__button {
    @extend .btn-display;
    @include properties(100%, 4rem, 1.3rem, $tertiary-color);
    position: relative;
    color: $label-button-menu--color;
}

.product__button {
    @extend .btn-display;
    @include properties(30%, 4rem, 1.3rem, $tertiary-color);
    position: relative;
    color: $label-button-menu--color;
    font-size: 1.3rem;
}

.search__button {
    @extend .btn-display;
    background-color: $tertiary-color;
    width: 8%;
}

.wallet__button {
    @include properties(100%, 60%, 1.4rem, $tertiary-color);
    align-self: flex-end;
    font-weight: 700;
    color: $label-button-menu--color;
}

.newsletter__button {
    @include properties(30%, auto, 1.7rem, $tertiary-color);
    color: $label-button-menu--color;
}