@import '../abstract/variables';

.icon__purchase--header {
    color: #6a808f;
    font-size: 3rem;
}

.icon__purchase {
    font-size: 2rem;
    padding-right: .5rem;
    position: absolute;
    right: 0;
}

.whatsapp__icon {
    font-size: 2.2rem;
}

.phone__icon {
    @extend .whatsapp__icon;
}

.search__icon {
    font-size: 2rem;
    color: $icon-search--color;
}