.product__size {
    border: none;
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    justify-content: space-around;
    padding: 0;
    text-align: center;
    width: 12rem;
    align-self: flex-end;
    padding-bottom: 1.2rem;

    .size__input {
        display: none;

        &:checked+.size__label {
            background-color: black;
            // @include border();
            border: 1px solid;
            color: #FFFFFF;
        }
    }

    .size__label {
        background-color: #ffffffad;
        border-radius: 30%;
        border: solid .1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        height: 2.7rem;
        margin: .7rem;
        width: 1.5em;

        &:hover {
            background-color: #e6e6e6;
            cursor: pointer;
        }
    }
}