.product__image {
    border: .1rem solid #C4C4C4;
    width: 40%;
    margin-right: 2rem;
    display: flex;
    justify-content: center;

    img {
        align-self: center;
        width: 100%;
    }
}